h1, h2, h3 {
    text-align: center;
    font-family: arial;
}

.body {
  background-color: grey;
  width: 920px;
  border: 20px solid black;
  padding: 50px;
  margin: auto;
} 

p {
    font-family: arial;
}

.footer {
 text-align: center;
}

.nav{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    text-align: center;
    font-family: arial;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.about_me {
  background-color: #dddddd;
  width: auto;
  border: 5px #dddddd;
  padding: 50px;
  margin: 20px;
} 

.background {
  background-color: #dddddd;
  width: auto;
  border: 5px #dddddd;
  padding: 50px;
  margin: 20px;
} 

table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}